# --- Django core ---
DJANGO_SECRET_KEY=
DJANGO_DEBUG=
DJANGO_ALLOWED_HOSTS=

# --- PostgreSQL database ---
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432

# --- Static & Media 
STATIC_URL=/static/
MEDIA_URL=/media/
MEDIA_ROOT=/absolute/path/to_

# ---- Geolocation
CLINICAL_CENTERS_AUTO_GEOLOCATE=True